In [1]:
import numpy as np
import pandas as pd

In [2]:
cols = 'grade,state,total,Native American,native_pct,Asian,asian_pct,Hispanic/Latino,hisp_pct,Black,black_pct,White,white_pct,Pacific Islander,pcf_isl_pct,mixed,mixed_pct'
cols = cols.split(',')
cols

['grade',
 'state',
 'total',
 'Native American',
 'native_pct',
 'Asian',
 'asian_pct',
 'Hispanic/Latino',
 'hisp_pct',
 'Black',
 'black_pct',
 'White',
 'white_pct',
 'Pacific Islander',
 'pcf_isl_pct',
 'mixed',
 'mixed_pct']

In [3]:
def intake(path,cols,sh):
    #print(sheet)
    dataf = pd.read_excel(path,header=[4,5],sheet_name=sh)
    dataf.columns = dataf.columns.map('_'.join)
    dataf.drop(dataf.columns[17:25],axis=1,inplace=True)
    dataf.columns = cols
    grade = str(dataf.grade[0][17:])
    dataf = dataf.drop('grade',axis=1)
    dataf = dataf[dataf.columns.drop(list(dataf.filter(regex='pct')))]
    #dataf = dataf.rename(lambda x: x+grade, axis='columns')
    return dataf.drop([53,54,55,56])


def edu_lvl(grades,gender):
    dfs=[]
    for src in grades:
        sheet = 'G'+src[22:][:-5] + " " + gender
        dfs.append(intake(src,cols,sheet))
    state = dfs[0].state
    curr = dfs[0].drop('state', axis=1)
    for grade in dfs[1:]:
        curr = curr+grade.drop('state',axis=1)
    curr.insert(0, "state", state)
    return curr.set_index(curr.state).drop('state',axis=1)

In [4]:

src1 = 'raw_data/es/Retention-in-Grade-1.xlsx'
src2 = 'raw_data/es/Retention-in-Grade-2.xlsx'
src3 = 'raw_data/es/Retention-in-Grade-3.xlsx'
src4 = 'raw_data/es/Retention-in-Grade-4.xlsx'
src5 = 'raw_data/es/Retention-in-Grade-5.xlsx'
src6 = 'raw_data/ms/Retention-in-Grade-6.xlsx'
src7 = 'raw_data/ms/Retention-in-Grade-7.xlsx'
src8 = 'raw_data/ms/Retention-in-Grade-8.xlsx'
src9 = 'raw_data/hs/Retention-in-Grade-9.xlsx'
src10 = 'raw_data/hs/Retention-in-Grade-10.xlsx'
src11 = 'raw_data/hs/Retention-in-Grade-11.xlsx'
src12 = 'raw_data/hs/Retention-in-Grade-12.xlsx'
es=[src1,src2,src3,src4,src5]
ms=[src6,src7,src8]
hs=[src9,src10,src11,src12]

t = "Total"
m = "Male"
f = 'Female'

In [5]:
esdf = edu_lvl(es,t)
msdf = edu_lvl(ms,t)
hsdf = edu_lvl(hs,t)
esdf.to_json('elem_total.json', orient='index')
msdf.to_json('middle_total.json', orient='index')
hsdf.to_json('high_total.json', orient='index')

In [6]:
esdf.head()['total'], msdf.head()['total'],hsdf.head()['total']

(state
 50 states, District of Columbia, and Puerto Rico    190376.0
 Alabama                                               4945.0
 Alaska                                                  84.0
 Arizona                                               2703.0
 Arkansas                                              1785.0
 Name: total, dtype: float64,
 state
 50 states, District of Columbia, and Puerto Rico    68450.0
 Alabama                                              1737.0
 Alaska                                                 25.0
 Arizona                                              1389.0
 Arkansas                                              563.0
 Name: total, dtype: float64,
 state
 50 states, District of Columbia, and Puerto Rico    513478.0
 Alabama                                               9031.0
 Alaska                                                1098.0
 Arizona                                               8677.0
 Arkansas                                              2441.0
 Name: total, dtype: float64)

In [7]:
male_esdf = edu_lvl(es,m)
male_msdf = edu_lvl(ms,m)
male_hsdf = edu_lvl(hs,m)
male_esdf.to_json('elem_m.json', orient='index')
male_msdf.to_json('middle_m.json', orient='index')
male_hsdf.to_json('high_m.json', orient='index')

In [8]:
male_esdf.head()['total'], male_msdf.head()['total'],male_hsdf.head()['total']

(state
 50 states, District of Columbia, and Puerto Rico    108724.0
 Alabama                                               2852.0
 Alaska                                                  48.0
 Arizona                                               1532.0
 Arkansas                                               953.0
 Name: total, dtype: float64,
 state
 50 states, District of Columbia, and Puerto Rico    45366.0
 Alabama                                              1230.0
 Alaska                                                 17.0
 Arizona                                               886.0
 Arkansas                                              383.0
 Name: total, dtype: float64,
 state
 50 states, District of Columbia, and Puerto Rico    318500.0
 Alabama                                               5671.0
 Alaska                                                 671.0
 Arizona                                               5235.0
 Arkansas                                              1574.0
 Name: total, dtype: float64)

In [9]:
female_esdf = edu_lvl(es,f)
female_msdf = edu_lvl(ms,f)
female_hsdf = edu_lvl(hs,f)
female_esdf.to_json('elem_f.json', orient='index')
female_msdf.to_json('middle_f.json', orient='index')
female_hsdf.to_json('high_f.json', orient='index')

In [10]:
female_esdf.head()['total'], female_msdf.head()['total'],female_hsdf.head()['total']

(state
 50 states, District of Columbia, and Puerto Rico    81652.0
 Alabama                                              2093.0
 Alaska                                                 36.0
 Arizona                                              1171.0
 Arkansas                                              832.0
 Name: total, dtype: float64,
 state
 50 states, District of Columbia, and Puerto Rico    23084.0
 Alabama                                               507.0
 Alaska                                                  8.0
 Arizona                                               503.0
 Arkansas                                              180.0
 Name: total, dtype: float64,
 state
 50 states, District of Columbia, and Puerto Rico    194978.0
 Alabama                                               3360.0
 Alaska                                                 427.0
 Arizona                                               3442.0
 Arkansas                                               867.0
 Name: total, dtype: float64)

In [11]:
allyrs_m = male_esdf + male_msdf + male_hsdf
allyrs_f = female_esdf + female_msdf + female_hsdf
allyrs_total = esdf + msdf + hsdf
allyrs_total.to_json('allyrs_total.json', orient='index')
allyrs_m.to_json('allyrs_m.json', orient='index')
allyrs_f.to_json('allyrs_f.json', orient='index')

In [12]:
allyrs_total.head()['total'], allyrs_m.head()['total'],allyrs_f.head()['total']

(state
 50 states, District of Columbia, and Puerto Rico    772304.0
 Alabama                                              15713.0
 Alaska                                                1207.0
 Arizona                                              12769.0
 Arkansas                                              4789.0
 Name: total, dtype: float64,
 state
 50 states, District of Columbia, and Puerto Rico    472590.0
 Alabama                                               9753.0
 Alaska                                                 736.0
 Arizona                                               7653.0
 Arkansas                                              2910.0
 Name: total, dtype: float64,
 state
 50 states, District of Columbia, and Puerto Rico    299714.0
 Alabama                                               5960.0
 Alaska                                                 471.0
 Arizona                                               5116.0
 Arkansas                                              1879.0
 Name: total, dtype: float64)